*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.container{
    max-width: 100%;
    height: 100vh;
    background-image: url(images.jpeg);
    background-position: center;
    background-size: cover;
}
.content{
  margin-top: 40px;
}
.content h3{
    color: white;
    font-size: 50px;
  text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
}
.subscribe{
    width: 300px;
    height: 30px;
    outline:none;
    border: none;
    background-color: orange;
    margin-top: 20px;
    border-bottom-right-radius: 12px;
    cursor: pointer;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
.subscribe:hover{
    background-color: transparent;
    border: 1px solid orange;
    transition: background 1s;
    color: white;
}
.links ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}
.links ul li a{
    text-decoration: none;
    width: 40px;
    height: 40px;
    background-color: orange;
    padding: 10px;
    border-bottom-right-radius: 12px;
    color: white;
}
.links ul li a:hover{
    background-color: transparent;
     border: 1px solid white;
     color: white;
     transition: background 1s;
}
.links span{
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    transform: rotate(45deg);
    margin-left: 200px;
    margin-top: -200px;
}
.android-icons ul li{
    list-style: none;
    display: inline-block;
    margin-left:20px
}
.android-icons ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 40px;
}